/* -------------------------- Fonts Import ------------------------ */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
/* ---------------------------------------------------------------- */

/* --------------------------- Fonts Used ------------------------- */
:root {
  --main-font: "Lato", sans-serif;
}
/* ---------------------------------------------------------------- */

/* -------------------------- Colors Used ------------------------ */
:root {
  --primary-color: #073b07;
  --dark-color: #2e2e2e;
  --light-color: #d8d8d8;
}
/* ---------------------------------------------------------------- */

/* ------------------------- Basic Resets ----------------------- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--main-font);
  color: var(--dark-color);
  line-height: 1.6;
}

h3 {
  font-weight: bolder;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.center {
  text-align: center;
}
/* ---------------------------------------------------------------- */